IP=127.0.0.1
PUERTO=5001
IP_SWAP=127.0.0.1
PUERTO_SWAP=6009
TAMANIO=384
TAMANIO_PAGINA=32
TIPO_ASIGNACION=DINAMICA
ALGORITMO_REEMPLAZO_MMU=M-CLOCK
CANTIDAD_ENTRADAS_TLB=4096
ALGORITMO_REEMPLAZO_TLB=FIFO 
RETARDO_ACIERTO_TLB=100
RETARDO_FALLO_TLB=1000
PATH_DUMP_TLB_DEBUG=/home/utnso/tp-2021-2c-SO_ftw/memoria/src/dumps/tlb
PATH_DUMP_TLB=/home/utnso/dumps/tlb
MARCOS_POR_CARPINCHO=1
DEBUG=1